<!DOCTYPE html>
<html>

<head lang="en">
    <meta charset="UTF-8">
    <title>DuangDuang玩 - 秀出你自己的影视特效</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="alternate icon" type="image/png" href="__PUBLIC__/i/favicon.png">
    <link rel="stylesheet" href="http://cdn.amazeui.org/amazeui/2.4.2/css/amazeui.min.css" />
    <style>
    .footer p {
        color: #7f8c8d;
        margin: 0;
        padding: 15px 0;
        text-align: center;
        background: #2d3e50;
    }
    </style>
</head>

<body>
    <header class="am-topbar am-topbar-fixed-top">
        <div class="am-container">
            <h1 class="am-topbar-brand">
      <a href="{:U('Home/Index/index')}">DuangDuang玩</a>
    </h1>
            <button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-secondary am-show-sm-only" data-am-collapse="{target: '#collapse-head'}"><span class="am-sr-only">导航切换</span> <span class="am-icon-bars"></span></button>
            <div class="am-collapse am-topbar-collapse" id="collapse-head">
                <ul class="am-nav am-nav-pills am-topbar-nav">
                    <li><a href="{:U('Home/Index/index')}">网站首页</a></li>
                    <li><a href="{:U('Home/Projects/index')}">视频项目</a></li>
                    <li><a href="{:U('Home/About/index')}">关于我们</a></li>
                    <li class="am-active"><a href="{:U('Home/User/index')}">用户中心</a></li>
                </ul>
                <div class="am-topbar-right">
                    <button onclick="window.location.href='{$button2url}';" class="am-btn am-btn-secondary am-topbar-btn am-btn-sm"><span class="am-icon-pencil"></span> {$button2title}</button>
                </div>
                <div class="am-topbar-right">
                    <button onclick="window.location.href='{$button1url}';" class="am-btn am-btn-primary am-topbar-btn am-btn-sm"><span class="am-icon-user"></span> {$button1title}</button>
                </div>
            </div>
        </div>
    </header>
    <div class="am-container am-margin-vertical-xl">
        <ul class="am-nav am-nav-pills am-nav-tabs">
            <li class="am-active"><a href="{:U('Home/User/index')}">开始使用</a></li>
            <li><a href="{:U('Home/User/upload')}">上传项目</a></li>
            <li><a href="{:U('Home/User/video')}">我的项目</a></li>
            <li><a href="{:U('Home/User/contribution')}">我的投稿</a></li>
            <!--<li><a href="{:U('Home/User/info')}">资料管理</a></li>-->
        </ul>
    </div>
    <div class="am-container">
        <div class="am-g">
            <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
                <h5>想投稿?</h5>
                <p>1.第一步,点击上面的"视频项目",找到我们发布的比赛项目;</p>
                <p>2.第二步,在比赛项目里上传你自己作品.</p>
                <h5>当影星?</h5>
                <p>1.第一步,上传你的第一个视频项目;</p>
                <p>2.第二步,等待团队投稿;(变影星的项目只有我们团队人员才能看得到哦~)</p>
            </div>
        </div>
    </div>
    <footer class="footer">
        <p>© 2015 <a href="http://www.duangduangwan.cn" target="_blank">DuangDuang玩</a> by the KKQY</p>
    </footer>
    <!--[if lt IE 9]>
<script src="http://libs.baidu.com/jquery/1.11.3/jquery.min.js"></script>
<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
<script src="http://cdn.amazeui.org/amazeui/2.4.2/js/amazeui.ie8polyfill.min.js"></script>
<![endif]-->
    <!--[if (gte IE 9)|!(IE)]><!-->
    <script src="http://cdn.staticfile.org/jquery/2.1.0/jquery.js"></script>
    <!--<![endif]-->
    <script src="http://cdn.amazeui.org/amazeui/2.4.2/js/amazeui.min.js"></script>
</body>

</html>
